style.
    .bannerSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: 
            linear-gradient(
                rgba(0, 0, 0, 0.5), 
                rgba(0, 0, 0, 0.5)
            ),
            url('../assets/workplace.jpg');
        height: 770px;
        background-size: cover;
    }
    .bannerSection button {
        padding: 20px;
    }
    .bannerSection h2, .bannerSection h1, .bannerSection button {
        margin: 15px 0;
    }
    .bannerSection a{
        text-decoration: none;
    }
section.bannerSection
    h2(class='md-txt serif') Welcome to our workplace!
    h1(class='l-txt sans-serif') WE WOULD LIKE TO MEET YOU
    button(class='btn sm-txt') 
        a(href='#services') TELL ME MORE