style.
    .contactUsSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: 
            linear-gradient(
                rgba(0, 0, 0, 0.5), 
                rgba(0, 0, 0, 0.4)
            ),
            url('../assets/world.jpg');
        background-size: cover;
        padding-bottom: 100px;
    }
    .contactUsSection .contactUsSectionHeader {
        margin-top: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 75px;
    }
    .contactUsSection .inputsContainer {
        height: 200px;
        display: flex;
        margin-bottom: 20px;
    }
    .contactUsSection .inputsContainer .inputContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 20px;
    }
    .contactUsSection .inputContainer input, .contactUsSection textarea {
        padding: 15px;
        border-radius: 5px;
        border: none;
    }
    .contactUsSection textarea {
        width: 400px;
    }

    .contactUsSection form {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .contactUsSection form button {
        padding 30px;
    }
    @media (min-width: 0px) and (max-width: 668px) {
        .contactUsSection textarea {
            width: 150px;
        }
    }

section(class='contactUsSection' id='contact')
    .contactUsSectionHeader
        h1(class='md-txt sans-serif') CONTACT US
        p(class='sm-txt serif') Lorem ipsum dolor sit amet consectetur.
    form
        .inputsContainer
            .inputContainer
                input(class='sans-serif sm-txt' type="text" placeholder='Your Name')
                input(class='sans-serif sm-txt' type="email" placeholder='Your Email')
                input(class='sans-serif sm-txt' type="phone" placeholder='Your Phone')
            textarea(class='sans-serif sm-txt' placeholder='Your Message')
        button(class='sm-txt sans-serif btn') SEND MESSSAGE