style.
    .contactUsSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: 
            linear-gradient(
                rgba(0, 0, 0, 0.5), 
                rgba(0, 0, 0, 0.4)
            ),
            url('../assets/world.jpg');
        background-size: cover;
        padding-bottom: 100px;
    }
    .contactUsSection .contactUsSectionHeader {
        margin-top: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 75px;
    }
    .contactUsSection .inputsContainer {
        height: 200px;
        display: flex;
        margin-bottom: 20px;
    }
    .contactUsSection .inputsContainer .inputContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 20px;
    }
    .contactUsSection .inputContainer input, .contactUsSection textarea {
        padding: 15px;
        border-radius: 5px;
        border: none;
    }
    .contactUsSection textarea {
        width: 400px;
    }

    .contactUsSection form {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .contactUsSection form button {
        padding 30px;
    }
    @media (min-width: 0px) and (max-width: 668px) {
        .contactUsSection textarea {
            width: 100%;
            box-sizing: border-box;
            margin: 5px 0;
            height: 200px;
        }
        .contactUsSection {
            flex-direction: column;
        }
        .contactUsSection .inputsContainer {
            flex-direction: column;
            height: auto;
            width: 90%;
        }
        .contactUsSection .inputsContainer .inputContainer{
            margin: 0;
        }
        .contactUsSection .inputsContainer input{
            margin: 5px 0;
        }
        .contactUsSection button {
            padding: 20px;
        }
    }
    @media (min-width: 992px) {
        .contactUsSection .inputsContainer {
            height: auto;
            width: 80%;
            justify-content: space-between;
        }
        .contactUsSection .inputsContainer .inputContainer,
        .contactUsSection .inputsContainer textarea{
            width: 50%;
        }
        .contactUsSection .inputsContainer input{
            margin-bottom: 15px;
        }
        .contactUsSection .inputsContainer input:last-child{
            margin-bottom: 0;
        }
        .contactUsSection button {
            padding: 20px 30px;
        }
    }

section(class='contactUsSection' id='contact')
    .contactUsSectionHeader
        h1(class='md-txt sans-serif') CONTACT US
        p(class='sm-txt serif') Lorem ipsum dolor sit amet consectetur.
    form
        .inputsContainer
            .inputContainer
                input(class='sans-serif sm-txt' type="text" placeholder='Your Name')
                input(class='sans-serif sm-txt' type="email" placeholder='Your Email')
                input(class='sans-serif sm-txt' type="phone" placeholder='Your Phone')
            textarea(class='sans-serif sm-txt' placeholder='Your Message')
        button(class='sm-txt sans-serif btn') SEND MESSSAGE