doctype html
html
    head 
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
        link(rel="stylesheet" href="./fonts.css")
        link(rel="stylesheet" href="./commonStyles.css")
        link(href="https://fonts.googleapis.com/css?family=Charm|Crimson+Text|Oxygen" rel="stylesheet")
        style.
            body{
                margin: 0;
            }
    body
        include header
        include bannerSection
        include servicesSection
        include portfolioSection